{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create a page 
{% endblock %}

{% block body %}
    <h1>Create a page</h1>
    {% if message %}
    	{{ message }}
    {% endif %}
    <form method="post" action='edit'>
    	<input type="submit" value="save" name="save" class="btn btn-success my-3" />
	    <div class="form" method="post" action='create'>
	    	{% csrf_token%}
	    	<label for="title">Title</label>
	    	<input type="text" class="form-control" name="title" placeholder="Title of the page" 
	        {%if title%}
	        	value="{{ title }}"
	        {%endif%}
	        />
	        <br>
	        <textarea name="content">{{ content }}</textarea>
	    </div>
	</form>
{% endblock %}